@font-face {
  font-family: "logo-font";
  src: url("./fonts/es-logo.ttf");
}
@font-face {
  font-family: "body-font";
  src: url("./fonts/suse.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.logo {
  font-family: "logo-font";
}

* {
  font-family: "body-font";
}

.nav-item {
  width: 30px; /* Default width */
  transition: width 0.3s ease-in-out; /* Add transition effect */
}

.nav-item:hover {
  @apply w-[40px] h-[40px] rounded-full bg-secondary;
}

/* Tooltip styling */

.nav-item label {
  display: none; /* Hide the tooltip by default */
}
.cart-item label {
  display: flex !important; /* Hide the tooltip by default */
}
/* Show the tooltip on hover */
.nav-item:hover label {
  display: block;
}

.custom-border {
  border-width: 0.5px;
}
.nav-border {
  border: 1px solid #374151;
}
.custom-border:focus {
  border-color: black;
}
.btn {
  @apply py-[2px] px-4 bg-white text-black text-sm rounded-sm;
}
.variable-btn {
  @apply py-[2px] px-4  text-sm rounded-sm;
}

.btn:hover {
  background-color: #cacaca;
}
.form-control input,
.form-control textarea {
  @apply py-[4px] px-8 bg-transparent nav-border outline-none focus:border-white mt-2;
}
.form-control svg {
  @apply absolute top-[41px] left-2;
}
.form-control {
  @apply flex flex-col mt-4 relative;
}
.anim-btn {
  @apply py-[2px] px-4  text-sm rounded-sm;
}
.anim {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.anim-bg {
  @apply animate-pulse rounded-sm;
}
